<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.5.9.js"></script>
</head>
<body>
<div id="app">
        <ul>
        <li v-for="(value, key, i) in person">{{ key }} --- {{ value }} --- {{ i }}--</li>
        </ul>
        <!-- <p v-for="(item, i) in 9">{{ i }} --- {{ item }}</p> -->
</div>  
<script>
    var vm = new Vue({
      el: '#app',
      data: {
        person: {
          id: 1,
          name: '泥巴巴',
          age: 22,
          gender: '男'
        }
      }
    });
</script>  
</body>
</html>