<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.5.9.js"></script>
</head>
<div id="app">
<fill @fun='addlist'></fill>
    <!-- <li v-for='(item,i) in list' :key='i'>评价人{{ item.name }}{{ item.content}}</li> -->
<biao v-for='(item,i) in list' :key='i' :msg='item'>
 
</biao>
</div>
<body>
 <script>
 var vm = new Vue({
   el:'#app',
   data:{
    list: [
          { name: 'zs', content: '沙发' },
          { name: 'ls', content: '板凳' },
          { name: 'qqq', content: '凉席' },
          { name: 'eee', content: '砖头' }
        ] 
   },
   methods:{
     addlist(arg1){
        this.list.push(arg1);
     }
   },
   components:{
       'fill':{
        template:`<div>
      <label>评论人：</label>
      <br>
      <input type="text" v-model="name">
      <br>
      <label>评论内容：</label>
      <br>
      <textarea v-model="content"></textarea>
      <br>
      <input type="button" value="发表评论" @click='add'>
    </div>`,
          data(){
            return{
            name:'',
            content:''
            }
       },
       methods:{
       add(){
        const aa = {name:this.name,content:this.content}
        this.$emit('fun', aa)
        this.name = this.content = ''
       }
       }
       },
     'biao':{
         template: `<li>
        <h3>评论人：{{ msg.name }}</h3>
        <h5>评论内容：{{ msg.content }}</h5>
        </li>`,
        props:['msg']
     }
       

   }
 })
 </script>   
</body>
</html>