<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watch案例</title>
    <script src="./lib/vue-2.5.9.js"></script>
</head>
<body>
<div id="app">
  fristname:
  <input type="text" v-model='firstname'>+lastname:
  <input type="text" v-model='lastname'>=fullname:
  <input type="text" v-model='fullname'>  
</div> 
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            fullname:'',
            lastname:'',
            firstname:''
        },
         watch:{
             'firstname':function(newval,oldval){
              this.fullname=newval+'-'+this.lastname;
             },
             'lastname':function(newval,oldval){
              this.fullname =this.firstname + '-' + newval;
             }
         }
    })
</script>
</body>
</html>